@{
    ViewData["Title"] = "Página Folha de Pagamento";
}
@model List<FolhaPagModel>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Personal Dynamic RH & DP</a> <!--Nome do cabeçalho-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a> <!--Referente a página de inicio-->
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Ponto" asp-action="Index">Apontamento</a> <!--Referente a página de inicio-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FolhaPagamento" asp-action="FolhaPagamento">Folha de Pagamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Ferias" asp-action="Ferias">Férias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" tabindex="-1" aria-disabled="true" asp-controller="Login" asp-action="Index">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="text-center">
    <h1 class="display-5">Sua Folha de Pagamento</h1>
    <!--aqui será possivel visualizar ou baixar um pdf com as informações-->
</div>
<table class="table table-bordered">
    <caption>Folha de pagamento</caption>
    
     @if (Model != null)
     {
       foreach (var folha in Model)
        {
            <tr>
                <th scope="col" colspan="1">EMPRESA</th>
                <th scope="col">CNPJ</th>
                <th scope="col">FOLHA</th>
            </tr>
            <tr>
                <td>@folha.Nome_fantasia</td>
                <td>@folha.Cnpj</td>
                <td></td>
            </tr>
            <tr>
                <th scope="col">Registo</th>
                <th scope="col">Empregado</th>
                <th scope="col">Função</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="col">Banco</th>
                <th scope="col">Conta corrente</th>
                <th scope="col">Salário</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>@folha.Salario_liquido</td>
            </tr>
            <tr>
                <th scope="col">CONTA</th>
                <th scope="col">VENCIMENTO</th>
                <th scope="col">DESCONTO</th>
                <th scope="col">INSS</th>
            </tr>
            <tr>
                <td>0000</td>
                <td>@folha.Vencimentos</td>
                <td>@folha.Descontos</td>
                <td>@folha.Inss</td>
            </tr>
            <tr>
                <th colspan="1"></th>
                <th>TOTAIS</th>
                <th>Liquído</th>
            </tr>
            <tr>
                <td>@folha.Salario_base</td>
                <td>@folha.Salario_liquido</td>
            </tr>
        }
    }
    <thead>
        <tr>
            <th colspan="3">Assinatura: _______________________________________________________________</th>
            <th colspan="1">Data:__/__/_____</th>
        </tr>
    </thead>
</table>

